@use "../styles/theme.scss";

:local(.information-container) {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  list-style: none;
  padding: theme.$spacing-lg;
  overflow-y: auto;
  min-height: 0;
}
:local(.information-container) h1 {
  margin-bottom: 1ex;
}

:local(.share-link-container) {
  padding: theme.$spacing-lg;
  flex-basis: max-content;
}



:local(.markdown) {
  p {
    margin-bottom: 1em;
  }
  li {
    margin-bottom: 1ex;
  }
  ul, ol {
    list-style: disc outside none;
    margin: 0 0 1em 2em;
  }
  ol { 
    list-style-type: decimal;
  }
  .premium-feature {
    color: red;
  }
  .premium-feature:after {
    content: "🔒";
  }
}

:local(.scene-icon) {
  height: 1em;
  max-width: 2em;
  margin-right: 8px;
  vertical-align: middle;
  float: left;
}