@use "../styles/theme.scss";

:local(.invite-popover) {
  width: 100%;

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    padding-top: 8px;
    /* AVN: Increase width so URL is always visible */
    width: 340px;
  }
}